.pagination {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.pagination__items {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.pagination-item__previous-link {
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
}

.pagination-item__current-page {
  font-size: 1.4rem;
  margin-left: 2rem;
  color: #666;
}

.pagination-item__next-link {
  font-size: 1.5rem;
  margin-left: 2rem;
  color: #666;
  cursor: pointer;
}
