.welcome-page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.welcome-section-explain__header {
  margin-top: 3rem;
}

.welcome-section__explain {
  width: 70%;
}

.welcome-section-explain__inner-text {
  margin-top: 1.5rem;
}

.welcome-section__search-form {
  width: 70%;
  margin-top: 4rem;
}

.welcome-section__external-service {
  margin-top: 5rem;
  width: 70%;
}

.welcome-section-external-service__sections {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.welcome-small-section {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.welcome-small-section__image {
  width: 80px;
  height: 80px;
}

.welcome-small-section__title {
  color: #000;
  text-decoration: none;
}
