.error-message-layout {
  width: 100%;
  color: #093F60;
  background-color: #F4F0E7;
}

.error-message__content {
  margin: 6rem auto 10rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;

  @media (max-width: 480px) {
    font-size: 1rem;
    width: 90%;
    height: 25rem;
  }
}

.error-message__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.error-message__header > h2 {
  font-family: "NotoSnasJPBold", sans-serif;
}

.error-icon {
  color: #b2b2b2;

  @media (max-width: 480px) {
    margin-top: 1rem;
  }
}

.error-message__text {
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;

  @media (max-width: 480px) {
    font-size: 1.2rem;
    text-align: left;
    margin: 2rem 0.5rem;
  }
}

.error-message__text p {
  margin-top: 0.5rem;

  @media (max-width: 480px) {
    margin-top: 0.5rem;
  }
}
