.footer-wrapper__top-page {
  position: absolute;
}

.footer-wrapper__results {
  background-color: green;
}

.footer {
  background-color: #7797a7;
  bottom: 0;
  width: 100%;
  height: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.footer__copyright {
  color: #fff;
  font-size: 1rem;
}

.footer__terms {
  color: #fff;
  font-size: 1rem;
  margin-left: 2rem;
}
