.header {
  background-color: #FFE03C;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

.header--results {
  background-color: #FFE03C;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;

  @media (max-width: 480px) {
    background-color: #7797a7;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
  }
}

.header__logo {
  margin-left: 3rem;
  margin-top: 0.25rem;

  @media (max-width: 480px) {
    margin-left: 1rem;
  }
}
