.pagination {
  margin-bottom: 0.5rem;
  font-family: "NotoSnasJPBold", sans-serif;
  color: #093F60;

  @media (max-width: 480px) {
    margin-top: 1rem;
  }
}

.pagination__items {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;

}

.pagination-item__previous-link {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1.5rem;
}

.pagination-item__current-page {
  font-size: 1.4rem;
}

.pagination-item__next-link {
  font-size: 1.5rem;
  margin-left: 1.5rem;
  cursor: pointer;
}
