.container-wrapper__results {
  width: 100%;
  background-color: #666;
}

.main-wrapper__results {
  display: flex;
  flex-direction: column;
}

.result-items {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;

  @media (max-width: 480px) {
    margin: auto;
  }
}

.result-item {
  display: flex;
  height: 270px;
  padding-left: 7rem;
  flex-direction: row;
  align-items: center;

  @media (max-width: 480px) {
    display: flex;
    margin-bottom: 0;
    padding-left: 0.5rem;
  }
}

.result-item:nth-child(odd) {
  background-color: #F4F0E7;
}

.result-section__no-message {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.result-section__title {
  font-size: 1.9rem;
  margin-top: 2rem;
  margin-left: 5rem;
  color: #093F60;
  font-family: "NotoSnasJPBold", sans-serif;

  @media (max-width: 480px) {
    margin: 1.5rem auto;
  }
}

.result-section__list {
  margin-top: 1rem;
}

.result-item-section {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin-left: 3rem;

  @media (max-width: 480px) {
    height: 100%;
    margin: 3.5rem auto auto auto;
    width: 60%;
  }
}

.result-item-section__explain {
  display: flex;
  flex-flow: column;
  margin: 0 1rem;

  @media (max-width: 480px) {
    display: flex;
    flex-flow: column;
    min-height: 80px;
    max-height: 90px;
  }
}

.result-item-section__actions {
  max-height: 50%;

  @media (max-width: 480px) {
    display: flex;
    flex-flow: column;
  }
}

.result-item__image {
  width: 200px;
  height: 200px;
  border: 1px solid #808080;

  @media (max-width: 480px) {
    width: 150px;
    height: 150px;
    position: relative;
  }
}

.result-item-section-explain__title {
  font-size: 1.4rem;
  height: 100%;
  margin-bottom: 0.5rem;
  color: #093F60;

  @media (max-width: 480px) {
    font-size: 1rem;
    height: 100%;
    width: 100%;
    font-family: "NotoSnasJPBold", sans-serif;
    text-overflow: ellipsis;
  }
}

.result-item-section-explain__artist-name {
  font-size: 1.4rem;
  height: 100%;
  color: #093F60;

  @media (max-width: 480px) {
    font-size: 1rem;
    height: 100%;
    width: 100%;
    text-overflow: ellipsis;
    font-family: "NotoSnasJPBold", sans-serif;
  }
}

.result-item-section__button {
  border-radius: 2rem;
  padding: 0 1rem;
  width: 15rem;
  background: #FFE03C;
  filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 0.25));
  height: 2.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media (max-width: 480px) {
    width: 12rem;
    order: 1;
    margin-top: 1rem;
    position: relative;

  }
}

.result-item-section__button:hover {
  opacity: 0.85;
}

.result-item-section__button:active {
  transform: translateY(2px);
  box-shadow: 0 0 0 #333;
}

.result-item-section-button__text {
  margin-left: 0.5rem;
  color: #093F60;
  font-size: 1.1rem;

  @media (max-width: 480px) {
    font-size: 0.9rem;
  }

}

.result-item-section__icon {
  width: 60px;
  height: 60px;
  margin: 0.5rem 3rem 0 1rem;

  @media (max-width: 480px) {
    width: 40px;
    height: 40px;
    margin: 0.5rem 0.1rem 0 1rem;
  }
}

.result-item-section__images {
  display: flex;

  @media (max-width: 480px) {
    display: flex;
    order: 1;
    margin-top: 0.5rem;
  }
}

.result-item-section__copy-actions {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  height: 3rem;

  @media (max-width: 480px) {
    order: 2;
    display: block;
  }
}
