.main-wrapper__terms {
  margin-left: auto;
  margin-right: auto;
  color: #093F60;
  background-color: #F4F0E7;
}

.terms__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.terms__header > h1 {
  font-family: "NotoSnasJPBold", sans-serif;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.terms__text {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 6rem;
}

.terms__text p {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.main-wrapper__terms ol {
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-bottom: 4rem;
  font-size: 1.25rem;
}

.main-wrapper__terms li {
  margin-bottom: 1rem;
}
