<h1>searches#show</h1>

<% if @results.present? %>
  <h2>Songs Found</h2>
  <table>
    <tr>
      <th>曲名</th>
      <th>アーティスト</th>
      <th>Spotify URL</th>
      <th>Youtube URL</th>
    </tr>
    <% @results.each do |result| %>
      <tr>
        <td><%= result[:spotify_title]%></td>
        <td><%= result[:spotify_artists]%></td>
        <td class="spotify-url"><%= result[:spotify_url]%></td>
        <td class="youtube-url"><%= result[:youtube_url]%></td>
      </tr>
    <% end %>
  </table>
<% end %>
